body{
  margin: 0;
  height: 100%;
  font-family: Noto Sans;
}

*, *:before, *:after {
  box-sizing: inherit;

}

html:before{
  position: absolute;
  content: "";
  opacity: 0.5;

}

html{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url("/img/me/logo_g_o.png");
  background-position: center center;
  background-color: #DDD;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img {
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: #428bca;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #2a6496;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#content {
  min-height: 110%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

#video-app {
  z-index: -1;
  margin-top:60px;
}

.black-box {
  background-color: rgba(66, 139, 202, 0.8);
  color: #ffffff;
  border-radius: 25px;
  min-height: 1000px;
  padding-bottom: 20px;
  z-index: -100;
}

.o-table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.o-table td, .o-table th {
    border: 1px solid #ddd;
    padding: 8px;
}



.o-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}

.container {
  margin-bottom: -100px;
  padding-bottom: 200px;
}

.center{
  text-align: center;
}

.nav{
  background-color: #192231;
  display: flex;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}

.nav-left{
  flex: 1;
  padding: 0px 100px;
}

.nav-right{
  float: 3;
  padding: 0px 100px;
}

.nav-brand {
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.nav-logo {
  flex: 1;
  height: 20px;
  width: 20px;
  padding: 0px 10px 0px 0px;
}

.nav-text {
  vertical-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #192231;
  height: 100%;
}

.nav > li {
  float: left;
}

li.nav-li {
  float: left;
}

#dashboard {
  z-index: -10;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .nav-dropdown:hover .dropbtn {
  background-color: #494E6B;
  color: white;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

li.nav-dropdown {
  display: inline-block;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #192231;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.nav-dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-content a:hover {
  background-color: #494E6B;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.back-img {
	background: url("/img/me/logo.png");
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.span-select{
	font-size: 1em;
	padding: 4px;
	color: rgba(0,0,0,0.8);
}

.span-padded{
  padding: 15px;
  width: 100%;
}

.pt {
  background-image: url('/img/icons/ball_bw.svg');
}

.pt:hover {
  background-image: url('/img/icons/ball.svg');
}

.opener {
  background-image: url('/img/icons/key_bw.svg'); 
}

.opener:hover {
  background-image: url('/img/icons/key.svg');
}

.fp {
  background-image: url('/img/icons/coins_bw.svg');
}

.fp:hover {
  background-image: url('/img/icons/coins.svg')
}

.rounded-li{
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  color: #428bca;
  font-size: 1.3em;
  background-size: 88%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.rounded-li:hover {
  background-color: #428bca;
  
  color: #ffffff;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.tl-bg {
  
  background-color: #ffffff;
}

.mybtn {
	border: 1px solid transparent;
  padding: .25rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .50rem;
	background-color: #6c757d;
	color: #fff;
	cursor: pointer;
}

.mybtn:hover {
	background-color: #616970;
	color: #fff;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mybtn:active {
	color: #fff;
}

.mybtn:focus {
  outline: none;
}

.btn-wrap {
  padding-bottom: 30px;
}

footer.page-footer {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: #192231;
  padding: 15px;
  color: #fff; }
  footer.page-footer .container-fluid {
    width: auto; }
  footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.6); }
  footer.page-footer a {
    color: #fff; }

.foot-text{
  font-size: 25px;
  padding: 10px;
}

.fa {
  padding: 10px;
  font-size: 30px !important;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

/*

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

*/