<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Photography | Mike Kutilek</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="/img/me/logo.png"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
</head>
<body>
	<div ng-app="nav-app" ng-include="'html/nav.html'"></div>
	
	<div class="containter" style="margin-top:60px">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-3">
				<h2>Photography</h2>
				<p>Whenver I have the energy, I like to wake up early and shoot sunrise. I also enjoy <a href="/timelapse">Time Lapse</a> photography. I shoot with a Sony a6000. My primary lenses are a Sony 16-50mm, Sony 70-200mm, and Sigma 30mm f1.4. You can view all of my photography <a href="http://mikekutilek.zenfolio.com/">here</a>.</p>
				<div class="thumbnail">
					<img src="/img/me/photog.jpg" style="width: 100%; padding: 10px;">
				</div>
			</div>
			<div class="col-sm-6">
				<div id="gallery-app" ng-app="gallery-app" ng-controller="gallery-ctrl" style="margin-top:60px">
					<div ng-repeat="rows in galleries" class="row">
						<div ng-repeat="gal in rows" class="col-sm-3">
							<div class="thumbnail">
								<a ng-href="http://mikekutilek.zenfolio.com/{{gal.id}}">
									<img ng-src="/img/{{gal.category}}/{{gal.img}}" style="width: 100%">
									<div class="caption">
										<h4 class="center">{{gal.gallery}}</h4>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	<footer class="page-footer stylish-color-dark">
		
		<div class="center">
			<h2>Thanks for looking!</h2>
			<!-- Social buttons -->
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-instagram"></a>
			<a href="#" class="fa fa-youtube"></a>
			<!-- Social buttons -->
		</div>
	</footer>
	
	<script type="text/javascript" src="js/nav.js"></script>
	<script type="text/javascript" src="js/galleries.js"></script>

</body>
</html>