<div class="nav">
	<ul class="nav-left">
		<li class="nav-li"><a class="nav-brand" href="/"><img class="nav-logo" src="/img/me/logo.png"><div class="nav-text">MIKE KUTILEK</div></a></li>
	</ul>
	<ul class="nav-right">
		<li class="nav-dropdown" ng-repeat='nav in navData'>
			<a href='/{{nav.url}}' class='dropbtn'>{{nav.title}} <span ng-if="nav.url == '#'" class="caret"></span></a>
			<div class='nav-dropdown-content'>
				<a href='/{{link.url}}' ng-repeat='link in nav.links'>{{link.title}}</a>
			</div>
		</li>
	</ul>
</div>