<div class="row">
	<h3 class="block-title">Photography</h3>
</div>
<div class="row">
	<div class="col-sm-4">
		<p>Photography is my #1 hobby. I am blown away by the beauty in this world and find great enjoyment in being able to capture it whenever I can. My favorite part of the day to shoot is in the early morning, before most are awake. I shoot with a Sony a6000 and a standard variety of lenses. All photos I take are available for purchase from <a target="_blank" href="https://www.etsy.com/shop/MikeKutilekPhoto?sort_order=relevance">Etsy</a> and <a target="_blank" href="https://mikekutilek.zenfolio.com/">Zenfolio</a>. I built a hub for all information regarding my photography <a target="_blank" href="http://mikekutilek.com/photo">here</a>.</p>
		<div class="img-thumbnail">
			<img class="img-rounded" src="/img/me/photo.jpg">
		</div>
	</div>
	<div class="col-sm-8">
		<!-- ng-app="gallery-app"-->
		<div id="gallery-app" class="gallery-app" ng-controller="gallery-ctrl">
			<div ng-repeat="rows in galleries" class="row">
				<div ng-repeat="gal in rows" class="col-sm-4">
					<a target="_blank" href="http://mikekutilek.zenfolio.com/{{gal.id}}">
						<div class="img-thumbnail-link">
							<img class="img-rounded" src="/img/{{gal.category}}/{{gal.img}}">
							<div class="caption">
								<p class="center" style="font-size: 15px">{{gal.gallery}}</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h3 class="block-title">Time Lapse</h3>
</div>
<div class="row">
	<div class="col-sm-4">
		<p>Time lapse is a form of photography that has been close to my heart since I first picked up a camera. I found it to be the perfect median between photography and videography, satisfying both hobbies at once. All time lapse videos are taken shot by shot with my Sony A6000, edited with Adobe Lightroom and assembled into video using Adobe Premiere. </p>
	</div>
	<div class="col-sm-8">
		<div class="center">
			<h3><a target="_blank" href="https://vimeo.com/277540135">The Wolf - A Pittsburgh Time Lapse Project</a></h3>
			<div class="iframe-container">
				<iframe frameborder="0" allowfullscreen src="https://player.vimeo.com/video/277540135"></iframe>
			</div>
			<h3><a target="_blank" href="https://vimeo.com/277540135">Pittsburgh Architecture</a></h3>
			<p>Coming soon...</p>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/galleries.js"></script>