<div class="row">
	<h3 class="block-title">Photography</h3>
</div>
<div class="row">
	<div class="col-sm-4">
		<p>Whenver I have the energy, I like to wake up early and shoot sunrise. I shoot with a Sony a6000. My primary lenses are a Sony 16-50mm, Sony 70-200mm, and Sigma 30mm f1.4. You can view all of my photography <a target="_blank" href="http://mikekutilek.zenfolio.com/">here</a>.</p>
		<div class="img-thumbnail">
			<img class="img-rounded" src="/img/me/photo.jpg">
		</div>
	</div>
	<div class="col-sm-8">
		<!-- ng-app="gallery-app"-->
		<div id="gallery-app" class="gallery-app" ng-controller="gallery-ctrl">
			<div ng-repeat="rows in galleries" class="row">
				<div ng-repeat="gal in rows" class="col-sm-4">
					<a target="_blank" href="http://mikekutilek.zenfolio.com/{{gal.id}}">
						<div class="img-thumbnail-link">
							<img class="img-rounded" src="/img/{{gal.category}}/{{gal.img}}">
							<div class="caption">
								<p class="center" style="font-size: 15px">{{gal.gallery}}</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h3 class="block-title">Time Lapse</h3>
</div>
<div class="row">
	<div class="col-sm-4">
		<p>Time lapse is a form of photography that has been close to my heart since I first picked up a camera. I found it to be the perfect median between photography and videography, satisfying both hobbies at once. All time lapse videos are taken shot by shot with my Sony A6000, edited with Adobe Lightroom and assembled into video using Adobe Premiere. </p>
	</div>
	<div class="col-sm-8">
		<div class="center">
			<h3><a target="_blank" href="https://vimeo.com/277540135">The Wolf - A Pittsburgh Time Lapse Project</a></h3>
			<div class="iframe-container">
				<iframe frameborder="0" allowfullscreen src="https://player.vimeo.com/video/277540135"></iframe>
			</div>
			<h3><a target="_blank" href="https://vimeo.com/277540135">Pittsburgh Architecture</a></h3>
			<p>Coming soon...</p>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/galleries.js"></script>