<div id="fp-app" ng-controller="ctrl">
	<h3 class="block-title">Does Pitching Win Championships?</h3>
	<div class="col-sm-4">
		Coming soon...
		<object data="/projects/SABR/graphs/war_ranks_hist.html">
		</object>
	</div>
	<div class="center col-sm-8">
		
		<!--
		<span class="span-select">Player:</span>
		<select ng-options="player.Name for player in players" ng-model="playerSelect" ng-change="getPlayerData(playerSelect)"></select>
		<span ng-if="loading"><img class="loading" src="/img/icons/loading.gif" ></span>
		<div class="chart" id="dashboard">
			<div class="chart" id="chart"></div>
			<div class="chart" id="control"></div>
		</div>
		-->
	</div>
</div>